
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>新闻后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
    <script src="/static/admin/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
    <script src="/static/admin/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="/static/admin/js/tinymce_setup.js"></script>
</head>
<body>
    <div class="breadcrub">
            当前位置：新闻管理>添加新闻
        </div>
        <div class="pannel">
            <div class="news_review">

            <h3 class="review_title">添加新闻</h3>
                <form enctype="multipart/form-data" id="form1">
            <div class="form_group">
                <label>新闻标题：</label>
                {% if news.title %}
                    <input type="text" name="title" class="input_txt2" value="{{ news.title }}">
                {% else %}
                    <input type="text" name="title" class="input_txt2">
                {% endif %}
            </div>


                 <div class="form_group">
                <label>是否推送：</label>
                <input type="radio"  name="is_recommend" value=1 width=100 checked>是
                <input type="radio" name="is_recommend" value=0 width=100>否
            </div>

                 <div class="form_group">
                <label>新闻内容：</label>
{#                <input type="text" class="input_txt2" value="" width=100>#}
                     <input type="text" name="content"  class="add" id="rich_content">
            </div>
                <input name="id" type="text" value="{{ id }}">
            <div class="form_group indent_group line_top">
                <input type="button" value="确定" class="confirm" onclick='addnews()'>
                <input type="button" value="取消" class="cancel" >
            </div>
    </form>
        </div>
        </div>


</body>
<script>
    function addnews() {
        var content = tinyMCE.activeEditor.getContent();
        $.ajax({
            url:'/sadmin/addnews/',
            type:'post',
            data:$('form').serialize()+'&content='+encodeURIComponent(content),
            dataType:'json',
            success:function (res) {

                if(res.code == 200){

                    window.location.href='/sadmin/snew/'
                }else {
                    alert('添加失败，请重试!')
                }



            }
        })
    }
</script>
</html>