<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>权限后台管理</title>
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
	<link rel="stylesheet" type="text/css" href='../../static/admin/css/jquery.pagination.css'>
	<script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
	<script src="../../static/admin/js/jquery.pagination.min.js"></script>

</head>
<body>
	<div class="breadcrub">
			当前位置：权限管理>资源管理
		</div>
		<div class="pannel">
			<table class="common_table">
{#				<tr><td colspan="3"><a href="/sadmin/addre/" class="addtype">添加资源</a></td>#}
{#                </tr><tr><th width="10%">id</th><th width="70%">资源名称</th><th width="20%">管理操作</th></tr>#}

{#             for (var i=0;i<length;i++){#}
{#                    html+=' <tr><td width="10%">'+mes[i]['id']+'</td><td width="70%">'+mes[i]['title']+'</td>' +#}
{#                        '<td width="20%"><a href="/sadmin/addre/?id='+mes[i]['id']+'">修改</a> #}

			</table>
		</div>
		<div id="pagination">

		</div>
</body>
<script>
getCatelist(1)
function getCatelist(p) {
    $.ajax({
        url:'/sadmin/relist/',
        type:'get',
        data:{'p':p},
        dataType:'json',
        success:function (res) {
            if (res.code == 200){
                var mes = res.message
                var length = mes.length
                var html = '\t\t\t\t<tr><td colspan="3"><a href="/sadmin/addre/" class="addtype">添加资源</a></td>\n' +
                    '                </tr><tr><th width="10%">id</th><th width="70%">资源名称</th><th width="20%">管理操作</th></tr>\n'
                for (var i=0;i<length;i++){
                        html+=' <tr><td width="10%">'+mes[i]['id']+'</td><td width="70%">'+mes[i]['name']+'</td>' +
                        '<td width="20%"><a href="/sadmin/addre/?id='+mes[i]['id']+'">修改</a>        <a href="javascript:del('+mes[i]['id']+')">删除</a></td></tr>'
                    }
                }$('.common_table').html(html)
                page(res.cpage,res.tpage)

        }
    })

}function page(cpage,tpage) {
    $('#pagination').pagination({
        currentPage:cpage,
        totalPage:tpage,
        callback:function (cur) {
            getCatelist(cur)
        }
    })
}
// 删除
    function del(id) {
        $.ajax({
            url:'/sadmin/delre/',
            type: 'get',
            data:{'id':id},
            dataType: 'json',
            success:function (res) {
                if (res.code ==200){
                    window.location.reload()
                }else {
                    alert('删除失败！')
                }
            }
        })
    }

</script>
</html>